
@{
    ViewData["Title"] = "User Management";
}

@{

    Layout = "loi.cshtml";
}
<h2>User Management</h2>

<p>Welcome to the user management page.</p>
<p>You can sign up or log in using the provided forms.</p>

<div>
    <a asp-action="SignUp">Sign Up</a>
    <a asp-action="Login">Log In</a>
</div>
