@{
    ViewBag.Title = "Quiz Home";
}
   <h2>Welcome to the Quiz Website</h2>
<a asp-action="Quiz" class="btn btn-primary">Start Quiz</a>
<a asp-action="AddQuestion" class="btn btn-success">Add Question</a>

